{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        {% for position in positions %}
        <tr>
            <td>
                {{position.job_title}}
            </td>
            <td>{{position.company_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}